body {
  padding: 0;
  margin: 25px 0;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.bar {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.header-logo {
  width: 125px;
  margin-left: 30px;
}

.header-nav {
  display: flex;
  gap: 60px;
  margin-right: 35px;
}

.bar-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.header {
  margin: 0 auto;
  width: 80%;
  height: 750px;
  border: 1px solid white;
  margin-top: 40px;
  border-radius: 30px;
}

h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 25px;
  margin-top: 70px;
}

.header-paragraph {
  display: block;
  margin: 0 auto;
  width: 52%;
  color: white;
  text-align: center;
  font-size: 26px;
  line-height: 1.8;
}

.header-strong {
  color: #448abd;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  cursor: auto;
}

.header-button {
  padding: 18px 40px;
  border-radius: 50px;
  border: none;
  background-color: #448abd;
  color: white;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
}

.header-button2 {
  padding: 18px 40px;
  border-radius: 50px;
  border: 1px solid #448abd;
  background: transparent;
  color: #448abd;
  font-weight: 800;
  cursor: pointer;
  font-size: 20px;
}

.header-desc {
  display: flex;
  margin: 0 auto;
  width: 45%;
  border: 2px solid #448abd;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
  margin-top: 50px;
  border-radius: 40px;
}

.desc {
  margin: 25px 0;
}

.desc img {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.desc p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 18px;
}

.tags {
  width: 100%;
  height: 125px;
  background-color: rgba(115, 115, 115, 0.15);
  margin: 75px 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.tags button {
  padding: 15px 30px;
  border-radius: 50px;
  border: 1px solid #448abd;
  background: transparent;
  color: #448abd;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
}

.explore-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

.explore-btn button {
  padding: 33px 89px;
  border-radius: 25px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  background-color: #448abd;
  color: white;
  cursor: pointer;
}

.arrow {
  width: 22px;
}

.products {
  display: grid;
  gap: 50px;
  /* flex-direction: column; */
  grid-template-columns: 452px 452px 452px;
  grid-template-rows: 102px 400px;
  justify-content: center;
  margin: 150px auto;
}

.product-section {
  width: 450px;
  height: 450px;
  border: 1px solid white;
  border-radius: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.product-1 {
  justify-self: end;
  grid-column: 1;
  grid-row: 1;
}

.product-section p {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.product-2 {
  justify-self: start;
}

.product-3 {
  grid-column: 2/3;
  justify-self: center;
}

footer {
  margin: 0 auto;
  /* margin-top: -250px; */
  width: 75%;
  height: 300px;
  border: 2px solid #448abd;
  border-radius: 50px;
}

.footer {
  display: flex;
}

.sec-1 {
  width: 350px;
  margin-top: 60px;
}

.footer-logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sec-1 h6 {
  color: white;
  line-height: 1.7;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.sec-1 strong {
  color: #448abd;
  font-weight: bold;
  font-size: 16px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.youtube,
.tiktok,
.instagram {
  width: 40px;
}

@media screen and (max-width: 1656px) {
  .header-desc {
    width: 60%;
  }
}

@media screen and (max-width: 1550px) {
  .header-paragraph {
    font-size: 20px;
  }

  .product-1,
  .product-2,
  .product-3 {
    width: 400px;
    height: 400px;
  }

  .explore-btn button {
    padding: 33px 63px;
  }

  .products {
    grid-template-columns: 400px 400px 400px;
  }
}

@media screen and (max-width: 1400px) {
  .header-desc {
    width: 70%;
  }

  .tags {
    height: 75px;
  }

  .tags button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .products {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 80px 300px;
  }

  .arrow {
    width: 15px;
  }

  .explore-btn button {
    font-size: 22px;
    padding: 25px 47px;
  }

  .product-1,
  .product-2,
  .product-3 {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .bar {
    justify-content: center;
  }

  .header-logo {
    margin-left: 0;
  }

  .header-nav {
    display: none;
  }

  .header {
    height: 675px;
  }

  h1 {
    font-size: 45px;
  }

  .header-paragraph {
    font-size: 18px;
  }

  .header-button,
  .header-button2 {
    font-size: 16px;
    padding: 15px 30px;
  }

  .header-desc {
    width: 60%;
    gap: 35px;
  }

  .desc img {
    width: 50px;
  }

  .desc p {
    font-size: 15px;
  }

  .tags {
    gap: 20px;
  }

  .tags button {
    font-size: 12px;
    padding: 8px 16px;
    font-weight: 700;
  }

  .explore-btn button {
    padding: 30px 100px;
    font-size: 28px;
    margin-bottom: 50px;
  }

  .arrow {
    width: 20px;
  }

  .product-1,
  .product-2,
  .product-3 {
    margin: 0 auto;
    width: 450px;
    height: 450px;
    margin-bottom: 50px;
  }

  .products {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .header-desc {
    width: 70%;
  }
}

@media screen and (max-width: 725px) {
  .bar {
    border: none;
  }

  .header {
    border: none;
    height: 100%;
  }

  .header-desc {
    gap: 25px;
  }

  .desc img {
    width: 40px;
  }

  .desc p {
    font-size: 12px;
  }

  .tags {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 40px);
    row-gap: 15px;
    margin-top: 75px;
  }

  .tags button {
    font-weight: 800;
  }
}

@media screen and (max-width: 575px) {
  .header-desc {
    width: 90%;
  }

  .tags {
    grid-template-columns: repeat(3, 95px);
    grid-template-rows: repeat(2, 30px);
    row-gap: 10px;
  }

  .tags button {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  .product-1,
  .product-2,
  .product-3 {
    width: 350px;
    height: 350px;
  }

  .explore-btn button {
    padding: 25px 80px;
    font-size: 20px;
  }

  .arrow {
    width: 15px;
  }

  .header-desc {
    border: 1px solid #448abd;
    width: 100%;
  }

  .desc img {
    width: 30px;
  }

  .desc p {
    font-size: 10px;
  }

  .header-paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 35px;
  }

  .btn {
    gap: 10px;
  }

  .header-button,
  .header-button2 {
    font-size: 12px;
    padding: 10px 20px;
  }

  .header-desc {
    display: block;
    width: 100%;
  }

  .desc img {
    width: 60px;
  }

  .desc p {
    font-size: 18px;
  }

  .tags {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(3, 30px);
    column-gap: 10px;

    padding-top: 35px;
    height: 150px;
  }

  .explore-btn button {
    padding: 20px 40px;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .arrow {
    width: 13px;
  }

  .product-1,
  .product-2,
  .product-3 {
    width: 220px;
    height: 220px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 30px;
  }

  .header-paragraph {
    font-size: 15px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-button {
    padding: 15px 40px;
    font-size: 16px;
  }

  .header-button2 {
    padding: 15px 50px;
    font-size: 16px;
  }

  .explore-btn button {
    padding: 20px 30px;
  }

  .product-1,
  .product-2,
  .product-3 {
    width: 200px;
    height: 200px;
  }
}
