html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

.bar {
  width: 100%;
  height: 7.5rem;
  background-color: #a1e0b4;
  border-bottom: 1px solid #298044;
}

.header-logo {
  width: 17.5rem;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}

.header {
  width: 100%;
  height: 86.9rem;
  background: url(ZYNOX\ Header\ Background.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.header-p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.header-btn {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-family: "Bitter", serif;
  color: white;
  background-color: #298044;
  border: none;
  cursor: pointer;
}

.header-a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 15rem;
}

section {
  margin: 7.5rem auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.section-a {
  text-decoration: none;
}

main {
  width: 100%;
}

.main-h2 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.main-p {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: 30rem;
  gap: 5rem;
  justify-content: center;
  margin: 5rem auto;
}

.product {
  width: 25rem;
  height: 30rem;
  border: 1px solid #298044;
}

.all-btn {
  display: flex;
  justify-content: center;
}

.main-btn {
  display: inline-block;
}

.about-us {
  width: 100%;
  margin: 10rem auto;
}

.about-header {
  font-size: 3rem;
  text-align: center;
}

.about-p {
  font-size: 1.5rem;
  text-align: center;
  width: 40%;
  display: block;
  margin: 0 auto;
  line-height: 1.8;
}

footer {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(ZYNOX\ Footer\ Background\ FAKE.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  margin-top: 14rem;
  border-top: 1px solid #298044;
  border-bottom: 1px solid #298044;
}

.sec-1 {
  width: 150px;
}

.footer-logo {
  width: 15rem;
}

.copyright {
  font-size: 1.26rem;
  line-height: 1.5;
  margin: 0.7rem auto;
}

.socials {
  font-size: 1.4rem;
  margin: 0;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-media img {
  background-color: #298044;
  width: 4rem;
  border-radius: 1rem;
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .product {
    width: 30rem;
    height: 35rem;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 3rem;
  }

  section {
    gap: 1rem;
  }

  .header-btn {
    font-size: 1.2rem;
    width: 11rem;
  }
}

@media (max-width: 400px) {
  .header {
    background-position: center;
    background-repeat: no-repeat;
    height: 80rem;
  }

  h1 {
    width: 19rem;
    display: block;
    margin: 0 auto;
    font-size: 3rem;
  }

  .header-p {
    width: 24rem;
  }

  section {
    display: grid;
  }

  .header-btn {
    font-size: 1.4rem;
    width: 15rem;
  }

  .product {
    width: 22.5rem;
    height: 27.5rem;
  }

  .about-p {
    width: 80%;
  }
}
