body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header h2 {
  color: white;
  text-align: center;
  font-size: 60px;
  letter-spacing: 1px;
  margin: 0;
  margin-top: 25px;
}

.header p {
  color: #448abd;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 75px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
  justify-content: center;
}

.product {
  width: 300px;
  height: 300px;
  border: 1px solid #448abd;
}

.product-header {
  color: white;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 85px;
}

.product button {
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 1px solid #448abd;
  background-color: #448abd;
  color: white;
  cursor: pointer;
}

.product h4 {
  padding: 10px 20px;
  width: 220px;
  border: 1px solid #448abd;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-size: 16px;
}

.product a {
  text-decoration: none;
}

.h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
}

@media screen and (max-width: 1050px) {
  main {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
  }

  .product {
    width: 200px;
    height: 200px;
  }

  .product button {
    height: 50px;
    font-size: 16px;
  }

  .h4 {
    height: 150px;
  }

  .product h4 {
    width: 120px;
    font-size: 11px;
  }

  .product-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 475px) {
  main {
    grid-template-columns: 250px;
    gap: 50px;
  }

  .product {
    width: 250px;
    height: 250px;
  }

  .product button {
    height: 65px;
    font-size: 18px;
  }

  .h4 {
    height: 185px;
  }

  .product h4 {
    width: 162px;
    font-size: 12px;
  }

  .product-header {
    font-size: 24px;
    width: 275px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
  }
}
